To compare the elements of two Pandas Series, you can use the comparison operators provided by Pandas. 
Here's a program that compares the elements of two given Series:

In [3]:
import pandas as pd

In [4]:
# Create the two Series

series1 = pd.Series([4, 65, 436, 3, 9])
series2 = pd.Series([7, 0, 3, 897, 9])

In [5]:
# Compare the elements using the comparison operator

comparison = series1 == series2

# Print the comparison result

print(comparison)

0    False
1    False
2    False
3    False
4     True
dtype: bool

In the output, each element represents the comparison result of the corresponding elements from the two Series. In this example, the fifth element (index 4) of series1 is equal to the fifth element of series2, so the comparison result is True. The other elements are not equal, so the comparison result is False for them.

Arithmetic operations on Pandas Series:

In [6]:
# Define the sample series
series1 = pd.Series([2, 4, 6, 8, 14])
series2 = pd.Series([1, 3, 5, 7, 9])

In [7]:
# Perform division

division = series1 / series2

In [8]:
# Perform addition
addition = series1 + series2

In [9]:
# Perform subtraction
subtraction = series1 - series2

In [10]:
# Perform subtraction
multiplication = series1 * series2

In [11]:
# Create a DataFrame to display the results
df = pd.DataFrame({'Series 1': series1, 'Series 2': series2, 'Addition': addition,
                   'Subtraction': subtraction, 'Multiplication': multiplication,
                   'Division': division})

# Print the DataFrame
print(df)

   Series 1  Series 2  Addition  Subtraction  Multiplication  Division
0         2         1         3            1               2  2.000000
1         4         3         7            1              12  1.333333
2         6         5        11            1              30  1.200000
3         8         7        15            1              56  1.142857
4        14         9        23            5             126  1.555556

The results are stored in a DataFrame for better visualization. 
Each column of the DataFrame represents a different operation performed on the series.

Conversion of a dictionary to a Pandas Series

In [12]:
# Define the sample dictionary
dictionary1 = {'Josh': 24, 'Sam': 36, 'Peace': 19, 'Charles': 65, 'Tom': 44}

# Convert the dictionary to a Pandas Series
series1 = pd.Series(dictionary1)

# Print the resulting series
print(series1)

Josh       24
Sam        36
Peace      19
Charles    65
Tom        44
dtype: int64

In this program, we use the pd.Series() function to convert the dictionary dictionary1 into a Pandas Series. 
The resulting series is then printed. 
The keys of the dictionary become the index labels of the series, and the corresponding values are the elements of the series.

Conversion of a series to an array

In [13]:
import numpy as np

In [14]:
# Define the sample series
series1 = pd.Series(['Love', 800, 'Joy', 789.9, 'Peace', True])

# Convert the series to an array
array1 = np.array(series1)

# Print the resulting array
print(array1)

['Love' 800 'Joy' 789.9 'Peace' True]

We use the np.array() function from the NumPy library to convert the series series1 to an array. 
The resulting array is then printed.
Each element of the series is included in the array, maintaining the same order as in the original series.

Displaying the most frequent value in a given series and replacing everything else as 'Other' in the series, using Pandas' value_counts() function and conditional indexing.

In [15]:
# Load the dataset 
data = pd.read_csv('AfricaCupofNationsMatches.csv')

In [16]:
# Extract the 'HomeTeamGoals' column as a series
home_goals = data['HomeTeamGoals']

In [17]:
# Find the most frequent value
most_frequent_value = home_goals.value_counts().idxmax()

In [18]:
# Replace other values as 'Other'
home_goals[home_goals != most_frequent_value] = 'Other'

# Print the modified series
print(home_goals)

0        1.0
1      Other
2      Other
3      Other
4        1.0
       ...
617    Other
618      1.0
619    Other
620    Other
621    Other
Name: HomeTeamGoals, Length: 622, dtype: object

/tmp/ipykernel_6985/2201521821.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home_goals[home_goals != most_frequent_value] = 'Other'

The program first loads the dataset and extracts the 'HomeTeamGoals' column as a series called home_goals. 
The value_counts() function is then applied to calculate the frequency of each value in the series, and .idxmax() is used to find the most frequent value.

Next, the program uses conditional indexing (home_goals != most_frequent_value) to select all values that are not equal to the most frequent value. 
These selected values are replaced with the string 'Other' using assignment (=).

Finally, the modified series home_goals is printed, showing the most frequent value and replacing everything else with 'Other'.

In [19]:
# Load the dataset   
df1 = pd.read_csv('AfricaCupofNationsMatches.csv')

Get the first 7 rows of our dataframe(df1)

In [20]:
first_7_rows = df1.head(7)

# print the results

print(first_7_rows)

   Year      Date  Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57   NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57   NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57   NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59   NaN      Egypt       Ethiopia            4.0
4  1959  25-May-59   NaN     Sudan        Ethiopia            1.0
5  1959  29-May-59   NaN      Egypt          Sudan            2.0
6  1962  14-Jan-62   NaN  Ethiopia         Tunisia            4.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2            0.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament
5            1.0  Final Tournament
6            2.0        Semifinals

                                SpecialWinConditions                 Stadium  \
0                                                NaN       Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                     NaN
2                                                NaN       Municipal Stadium
3                                                NaN   Prince Farouk Stadium
4                                                NaN   Prince Farouk Stadium
5                                                NaN   Prince Farouk Stadium
6                                                NaN  Hailé Sélassié Stadium

           City  Attendance
0      Khartoum     30000.0
1           NaN         NaN
2      Khartoum     30000.0
3         Cairo     30000.0
4         Cairo     20000.0
5         Cairo     30000.0
6   Addis Ababa     30000.0

Select specific columns

In [21]:
selected_columns = df1[['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']]

print(selected_columns)

        HomeTeam       AwayTeam  HomeTeamGoals  AwayTeamGoals
0         Sudan           Egypt            1.0            2.0
1      Ethiopia    South Africa            NaN            NaN
2         Egypt        Ethiopia            4.0            0.0
3          Egypt       Ethiopia            4.0            0.0
4         Sudan        Ethiopia            1.0            0.0
..           ...            ...            ...            ...
617  Madagascar         Tunisia            0.0            3.0
618     Senegal         Tunisia            1.0            0.0
619     Algeria         Nigeria            2.0            1.0
620     Tunisia         Nigeria            0.0            1.0
621     Senegal         Algeria            0.0            1.0

[622 rows x 4 columns]

In [22]:
egypt_rows = df1[df1['HomeTeam'].str.contains('Egypt') | df1['AwayTeam'].str.contains('Egypt')]
print(egypt_rows)

     Year                         Date   Time  HomeTeam       AwayTeam  \
0    1957                     10-Feb-57    NaN   Sudan           Egypt
2    1957                     16-Feb-57    NaN   Egypt        Ethiopia
3    1959                     22-May-59    NaN    Egypt       Ethiopia
5    1959                     29-May-59    NaN    Egypt          Sudan
7    1962                     18-Jan-62    NaN    Egypt         Uganda
..    ...                           ...    ...      ...            ...
569  2017  5 February 2017 (2017-02-05)  20:00   Egypt        Cameroon
570  2019     21 June 2019 (2019-06-21)  22:00   Egypt        Zimbabwe
573  2019     26 June 2019 (2019-06-26)  22:00   Egypt        DR Congo
574  2019     30 June 2019 (2019-06-30)  21:00  Uganda           Egypt
609  2019      6 July 2019 (2019-07-06)  21:00   Egypt    South Africa

     HomeTeamGoals  AwayTeamGoals             Stage SpecialWinConditions  \
0              1.0            2.0        Semifinals                  NaN
2              4.0            0.0             Final                  NaN
3              4.0            0.0  Final Tournament                  NaN
5              2.0            1.0  Final Tournament                  NaN
7              2.0            1.0        Semifinals                  NaN
..             ...            ...               ...                  ...
569            1.0            2.0             Final                  NaN
570            1.0            0.0           Group A                  NaN
573            2.0            0.0           Group A                  NaN
574            0.0            2.0           Group A                  NaN
609            0.0            1.0       Round of 16                  NaN

                         Stadium          City  Attendance
0              Municipal Stadium      Khartoum     30000.0
2              Municipal Stadium      Khartoum     30000.0
3          Prince Farouk Stadium         Cairo     30000.0
5          Prince Farouk Stadium         Cairo     30000.0
7         Hailé Sélassié Stadium   Addis Ababa     30000.0
..                           ...           ...         ...
569            Stade de l'Amitié    Libreville         NaN
570  Cairo International Stadium         Cairo     73299.0
573  Cairo International Stadium         Cairo     74219.0
574  Cairo International Stadium         Cairo     74566.0
609  Cairo International Stadium         Cairo     75000.0

[95 rows x 12 columns]

In [23]:
num_rows, num_columns = df1.shape

print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 622
Number of rows: 12

In [25]:
missing_attendance_rows = df1[df1['Attendance'].isna()]
print(missing_attendance_rows)

     Year                         Date   Time        HomeTeam       AwayTeam  \
1    1957                     10-Feb-57    NaN      Ethiopia    South Africa
8    1962                     20-Jan-62    NaN       Tunisia          Uganda
9    1962                     21-Jan-62    NaN      Ethiopia           Egypt
10   1963                     24-Nov-63    NaN         Ghana         Tunisia
11   1963                     26-Nov-63    NaN         Ghana        Ethiopia
..    ...                           ...    ...            ...            ...
565  2017  29 January 2017 (2017-01-29)  20:00         Egypt         Morocco
566  2017  1 February 2017 (2017-02-01)  20:00  Burkina Faso           Egypt
567  2017  2 February 2017 (2017-02-02)  20:00      Cameroon           Ghana
568  2017  4 February 2017 (2017-02-04)  20:00  Burkina Faso           Ghana
569  2017  5 February 2017 (2017-02-05)  20:00         Egypt        Cameroon

     HomeTeamGoals  AwayTeamGoals                 Stage  \
1              NaN            NaN            Semifinals
8              3.0            0.0     Third place match
9              4.0            2.0                 Final
10             1.0            1.0               Group A
11             2.0            0.0               Group A
..             ...            ...                   ...
565            1.0            0.0        Quarter-finals
566            1.0            1.0           Semi-finals
567            2.0            0.0           Semi-finals
568            1.0            0.0  Third place play-off
569            1.0            2.0                 Final

                                  SpecialWinConditions  \
1    Ethiopia  wins due to disqualification of othe...
8                                                  NaN
9                                win after extra time
10                                                 NaN
11                                                 NaN
..                                                 ...
565                                                NaN
566                        Egypt win on Penalities 3-4
567                                                NaN
568                                                NaN
569                                                NaN

                    Stadium          City  Attendance
1                       NaN           NaN         NaN
8    Hailé Sélassié Stadium   Addis Ababa         NaN
9    Hailé Sélassié Stadium   Addis Ababa         NaN
10     Accra Sports Stadium         Accra         NaN
11     Accra Sports Stadium         Accra         NaN
..                      ...           ...         ...
565    Stade de Port-Gentil   Port-Gentil         NaN
566       Stade de l'Amitié    Libreville         NaN
567    Stade de Franceville   Franceville         NaN
568    Stade de Port-Gentil   Port-Gentil         NaN
569       Stade de l'Amitié    Libreville         NaN

[100 rows x 12 columns]

In [31]:
goal_range_rows = df1[(df1['HomeTeamGoals'] >=3) & (df1['HomeTeamGoals'] <=6)]

print(goal_range_rows)

     Year                         Date   Time    HomeTeam     AwayTeam  \
2    1957                     16-Feb-57    NaN     Egypt      Ethiopia
3    1959                     22-May-59    NaN      Egypt     Ethiopia
6    1962                     14-Jan-62    NaN  Ethiopia       Tunisia
8    1962                     20-Jan-62    NaN   Tunisia        Uganda
9    1962                     21-Jan-62    NaN  Ethiopia         Egypt
..    ...                           ...    ...        ...          ...
553  2017  20 January 2017 (2017-01-20)  20:00   Morocco          Togo
585  2019     27 June 2019 (2019-06-27)  22:00     Kenya      Tanzania
595  2019     24 June 2019 (2019-06-24)  22:00      Mali    Mauritania
608  2019      6 July 2019 (2019-07-06)  18:00   Nigeria      Cameroon
611  2019      7 July 2019 (2019-07-07)  21:00   Algeria        Guinea

     HomeTeamGoals  AwayTeamGoals              Stage    SpecialWinConditions  \
2              4.0            0.0              Final                     NaN
3              4.0            0.0   Final Tournament                     NaN
6              4.0            2.0         Semifinals                     NaN
8              3.0            0.0  Third place match                     NaN
9              4.0            2.0              Final   win after extra time
..             ...            ...                ...                     ...
553            3.0            1.0            Group C                     NaN
585            3.0            2.0            Group C                     NaN
595            4.0            1.0            Group E                     NaN
608            3.0            2.0        Round of 16                     NaN
611            3.0            0.0        Round of 16                     NaN

                    Stadium          City  Attendance
2         Municipal Stadium      Khartoum     30000.0
3     Prince Farouk Stadium         Cairo     30000.0
6    Hailé Sélassié Stadium   Addis Ababa     30000.0
8    Hailé Sélassié Stadium   Addis Ababa         NaN
9    Hailé Sélassié Stadium   Addis Ababa         NaN
..                      ...           ...         ...
553            Stade d'Oyem          Oyem         NaN
585         30 June Stadium         Cairo      7233.0
595            Suez Stadium          Suez      6202.0
608      Alexandria Stadium    Alexandria     10000.0
611         30 June Stadium         Cairo      8205.0

[138 rows x 12 columns]

In [32]:
df1.loc[2, 'AwayTeamGoals'] = 10
df1

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,10.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
617,2019,11 July 2019 (2019-07-11),21:00,Madagascar,Tunisia,0.0,3.0,Quarter-finals,NaN,Al Salam Stadium,Cairo,7568.0
618,2019,14 July 2019 (2019-07-14),18:00,Senegal,Tunisia,1.0,0.0,Semi-finals,win after extra time,30 June Stadium,Cairo,9143.0
619,2019,14 July 2019 (2019-07-14),21:00,Algeria,Nigeria,2.0,1.0,Semi-finals,NaN,Cairo International Stadium,Cairo,49775.0
620,2019,17 July 2019 (2019-07-17),21:00,Tunisia,Nigeria,0.0,1.0,Third place play-off,NaN,Al Salam Stadium,Cairo,6340.0
621,2019,19 July 2019 (2019-07-19),21:00,Senegal,Algeria,0.0,1.0,Final,NaN,Cairo International Stadium,Cairo,75000.0

In [36]:
sorted_df = df1.sort_values(['HomeTeam', 'HomeTeamGoals'], ascending = [True, False])

print(sorted_df)

     Year                         Date           Time    HomeTeam  \
205  1990                      2-Mar-90            NaN   Algeria
29   1968                     14-Jan-68            NaN   Algeria
135  1980                     16-Mar-80            NaN   Algeria
164  1984                      5-Mar-84            NaN   Algeria
171  1984                     17-Mar-84            NaN   Algeria
..    ...                           ...            ...        ...
521  2012                     12-Feb-12  20:30[note 1]    Zambia
549  2017  23 January 2017 (2017-01-23)          20:00  Zimbabwe
398  2004                     25-Jan-04          16:30  Zimbabwe
437  2006                     23-Jan-06          20:00  Zimbabwe
575  2019     30 June 2019 (2019-06-30)          21:00  Zimbabwe

         AwayTeam  HomeTeamGoals  AwayTeamGoals              Stage  \
205       Nigeria            5.0            1.0            Group A
29         Uganda            4.0            0.0            Group A
135        Guinea            3.0            2.0            Group B
164        Malawi            3.0            0.0            Group B
171         Egypt            3.0            1.0  Third place match
..            ...            ...            ...                ...
521   Ivory Coast            0.0            0.0              Final
549       Tunisia            2.0            4.0            Group B
398         Egypt            1.0            2.0            Group C
437       Senegal            0.0            2.0            Group D
575      DR Congo            0.0            4.0            Group A

              SpecialWinConditions                       Stadium  \
205                            NaN          Stade 5 Juillet 1962
29                             NaN        Hailé Sélassié Stadium
135                            NaN               Liberty Stadium
164                            NaN                  Stade Bouaké
171                            NaN  Stade Félix Houphouët-Boigny
..                             ...                           ...
521  Zambia  win on Penalities 8-7              Stade d'Angondjé
549                            NaN             Stade de l'Amitié
398                            NaN          Stade Taïeb El Mhiri
437                            NaN             Port Said Stadium
575                            NaN               30 June Stadium

             City  Attendance
205       Algiers     85000.0
29    Addis Ababa     25000.0
135        Ibadan     20000.0
164        Bouaké     10000.0
171       Abidjan       500.0
..            ...         ...
521    Libreville     40000.0
549    Libreville         NaN
398          Sfax     22000.0
437     Port Said     15000.0
575         Cairo      4364.0

[622 rows x 12 columns]

In [37]:
column_headers = list(df1.columns)

print(column_headers)

['Year', 'Date ', 'Time ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals', 'Stage', 'SpecialWinConditions', 'Stadium', 'City', 'Attendance']

In [49]:
new_column = pd.Series(['julius', 'Kazibwe'])

df1['Referee'] = new_column

df1

   Referee
0   julius
1  Kazibwe

In [51]:
new_rows = [{'HomeTeam': 'Uganda', 'AwayTeam': 'D.R.Congo', 'HomeTeamGoals': 2, 'AwayTeamGoals': 1},
            {'HomeTeam': 'Ghana', 'AwayTeam': 'Tunisia', 'HomeTeamGoals': 3, 'AwayTeamGoals': 2}]


df1 = df1.append(new_rows, ignore_index = True)
df1

AttributeError: 'DataFrame' object has no attribute 'append'